body {
  max-width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(#fd72c3, #bb83ff, #59aeff);
}
h1,
h2,
h3 {
  color: #19167e;
}
h1 {
  margin-bottom: 0;
}
h2 {
  font-size: 22px;
}

h3 {
  margin-bottom: 60px;
}

li {
  list-style: none;
  line-height: 18px;
  color: #19167e;
  text-transform: capitalize;
}

a {
  color: blue;
}

p {
  text-align: center;
}

button {
  background-color: #19167e;
  color: white;
  border: 1px solid #12121b;
  border-radius: 10px;
  padding: 5px 10px;
  transition: all 200ms ease-in-out;
}

button:hover {
  background: #62aaff;
  color: black;
  cursor: pointer;
}

.wrapper {
  border: 1px solid black;
  max-width: 700px;
  margin: 0 auto;
  background-image: linear-gradient(#fd72c3, #bb83ff, #59aeff);
  padding: 20px;
  border-radius: 10px;
}

img {
  width: 100px;
  height: 100px;
}
.card {
  width: 90%;
  padding-right: 20px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 50px;
  background-color: #f895cf;
  border: 1px solid #19167e;
  box-shadow: 5px 5px 5px rgb(22, 22, 22);
}

.row {
  margin-top: 30px;
}

#search-button {
  background-color: #19167e;
  color: white;
  border: 1px solid #12121b;
  border-radius: 10px;
  padding: 5px 10px;
  transition: all 200ms ease-in-out;
}
#search-button:hover {
  background: #62aaff;
  color: black;
  cursor: pointer;
}

#search-form {
  border: 1px solid #12121b;
  border-radius: 10px;
  padding: 5px 10px;
}
